/* toggleIcon.module.css */

.toggleIcon {
  position: relative;
  width: 26px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.35s ease;
}

/* hover circle */
.toggleIcon::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(192, 106, 141, 0.15);
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.25s ease;
}

.toggleIcon:hover::before {
  opacity: 1;
  transform: scale(1);
}

/* lines */

.horizontal,
.vertical {
  position: absolute;
  width: 14px;
  height: 2px;
  background: var(--color-brand-dark);
  border-radius: 2px;
  transition: transform 0.35s ease, opacity 0.2s ease;
}

.vertical {
  transform: rotate(90deg);
}

/* open state */

.open .vertical {
  transform: rotate(90deg) scaleY(0);
  opacity: 0;
}

.open .horizontal {
  transform: rotate(180deg);
}