.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  align-items: stretch;
  grid-auto-flow: dense;

  grid-template-columns: 1.3fr 0.9fr;
  grid-template-rows: 1fr 1fr;

  gap: 16px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: block;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.45s ease,
    box-shadow 0.45s ease;
  cursor: pointer;
}

/* .card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.06); 
  pointer-events: none;
} */

.large {
  grid-row: span 2;
  aspect-ratio: 4 / 5;
}

.card.large img {
  object-position: center 80%;
}


/* image */

.image {
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card:hover .image {
  transform: scale(1.05);
  filter: saturate(1.02) contrast(1.03);
}

/* overlay */

.overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;

  padding: 10px 16px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 255, 255, 0.4);

  transition:
    transform 0.35s ease,
    background 0.35s ease;
  color: var(--color-brand-dark);
}

.card:hover .overlay {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.8);
}

.overlay h3 {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 6px;
}

.overlay span {
  font-size: 1rem;
  opacity: 0.9;
}


@media (max-width: 768px) {

  .section {
    padding: 80px 0;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .large {
    grid-row: span 1;
    aspect-ratio: 4 / 3;
  }

    .large::before {
    display: none;
  }

  .card {
    aspect-ratio: 4 / 3;
  }

  .overlay {
    bottom: 16px;
    left: 16px;

    padding: 12px 16px;
    border-radius: 12px;
  }

  .overlay h3 {
    font-size: 1.25rem;
  }
}

@media (hover: none) {

  .card:hover {
    transform: none;
    box-shadow: 0 6px 20px rgba(0,0,0,0.06);
  }

  .card:hover .image {
    transform: none;
  }

}